<div *ngIf="scoreService.currentValue === null">{{ scoreService.currentName }}</div>
<mat-form-field *ngIf="scoreService.currentValue">
    <mat-label>{{ scoreService.currentName }}</mat-label>
    <input type="number" number matInput [(ngModel)]="score">
</mat-form-field>
<button *ngIf="scoreService.currentValue" mat-icon-button aria-label="Valider" (click)="validerScore()">
    <mat-icon>done</mat-icon>
</button>
<button *ngIf="scoreService.currentValue" mat-icon-button aria-label="Barrer" (click)="barrerScore()">
    <mat-icon>block</mat-icon>
</button>